<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Objectives:</b>
- List popular languages for Data Science
- Learn to use markdown cells in jupyter notebooks
- Generate simple python code

Some of the popular languages that Data Scientists use are:

    1. SQL
    2. R
    3. Python

Some of the commonly used libraries used by Data Scientists include:
    
    1. TensorFlow
    2. NumPy
    3. Pandas
    4. PyTorch

| Data Science Tools | GitLab | VS Code | Jenkins |

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
result = (3*4)+5

In [4]:
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [5]:
hours = 200/60 
print(hours)

3.3333333333333335

<h3>Author:
    Arleen Vergara</h3>